:root {
    --main-color: #343a40;
}

#popup,
#popup2 {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1100;
    background: rgb(255, 255, 255);
    width: 95%;
    height: 95vh;
    padding: 40px 50px 50px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.452);
    transition: 0.5s;
    visibility: hidden;
    overflow-y: scroll;
}

.popup::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background: #2196f3;
    ;
    border-radius: 4px;
}

.popup::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 8px;
}

.popup::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
    background: #0c437e;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.popup::-webkit-scrollbar-thumb:active,
body::-webkit-scrollbar-thumb:active {
    background-color: #ff0000;
}

#popup.acti,
#popup2.acti {
    visibility: visible;
    top: 50%;
}

#popup .content-p,
#popup2 .content-p {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#popup .content-p img,
#popup2 .content-p img {
    max-width: 100%;
}

#popup .content-p h2,
#popup2 .content-p h2 {
    font-size: 24px;
    font-weight: 500;
    color: #333;
    margin: 20 px 0 10px;
}

#popup .content p,
#popup2 .content p {
    text-align: center;
    font-size: 16px;
    color: #333;
}

.close {
    z-index: 1101;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    width: 20px;
}

#stockProductoPop {
    color: white;
    padding: .2rem .5rem;
}

.form-content {
    background-color: rgb(255, 255, 255);
}

.cod-form {
    padding: 10px 40px 40px;
}

.form-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 32px;
    overflow: hidden;
    font-size: 120%;
    color: #343a40;
}

h3 {
    position: relative;
    display: inline-block;
    color: #343a40;
    padding: 0 10px;
}

h3::after,
h3::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: rgb(0, 0, 0);
    top: 0.5em;
}

h3::after {
    left: 100%;
}

h3::before {
    right: 100%;
}

.cod-form {
    width: 100%;
    height: auto;
    text-align: center;
}

.input-group {
    position: relative;
    margin-bottom: 40px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    border: none;
    border-bottom: 1.7px solid#343a40;
    width: 100%;
    outline: none;
    font-size: 14px;
    color: rgb(5, 146, 146);
    padding-left: 10px;
}

.label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: #343a40;
    padding-left: 18px;
    cursor: text;
    transition: all 1s ease;
}

.form-input:focus+label {
    top: -14px;
    font-size: 12px;
    color: rgba(46, 48, 47, 0.877);
}

.active {
    top: -14px;
    font-size: 12px;
    color: #343a40;
}

.error {
    color: rgba(46, 48, 47, 0.877);
}

input[type="submit"] {
    background: none;
    border: none;
    background: #343a40;
    color: white;
    width: 80%;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 16px;
    transition: all -3s ease;
}

input[type="button"]:hover {
    background: rgb(255, 255, 255);
    color: #343a40;
    border: solid 1px#343a40;
    cursor: pointer;
}

.input-group>p {
    color: #343a40;
    text-align: center;
    font-size: 14px;
}

.input-group>p a {
    text-decoration: none;
    color: darkblue;
}

.input-group>p a:hover {
    text-decoration: underline;
}

.form-content {
    display: none;
}

.form-content:nth-child(2) {
    display: block;
}